*.pyc
config.conf
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
pip-log.txt
pip-delete-this-directory.txt
*.manifest
*.spec
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.pdf
*.jpg
*.png
